nav{
    margin-bottom: 3%;
}
.navbar{
    background-color:#622FB2;
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: center;
    align-items: center;
}
.logo{
    display: inline-block;
    position: relative;
    right: 8%;
}
.navbar_icon{
    display: inline-block;
    position: relative;
    left: 50%;
}
.cross_icon{
    display: none;
    position: relative;
    left: 50%;
}

.search{
    text-align: center;
}
.search input[type='text']{
    border-radius:50px;
    padding: 2%;
}
.search input[type='submit']{
    border-radius:50px;
    display: inline-block;
    position: relative;
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 1%;
    top: 13px;
    right: 20px;
    background-color: #622FB2;
}
.searh_icon{
    display: inline-block;
    position: absolute;
    right:28% ;
    top: 17%;
}

@media screen and(max-width:390px) {
    .searh_icon{
        display: inline-block;
        position: absolute;
        right:28% ;
        top: 17%;
    }
    
}